*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.flex{
    border: 1px solid orangered;
    display: flex;
    align-items: start;
    align-items: end;
    align-items: center;

    justify-content: start;
    align-items: end;
    align-items: center;
    height: 100px;
    width: 100px;
}