p{
    color: red;
    background-color: black;
}


h1{
    color: red;
    background-color: black;
}

input{
    color: blue;
    background-color: black;
}

button{
    color: blue;
    background-color: black;
}